.chat
  .chat-side
    .chat-side__header
      %h5
        onoro
        .font-awesome
          = link_to "/", class: "font-awesome__specific" do
            %i{class: "fa fa-pencil-square-o"}
          = link_to "/", class: "font-awesome__specific" do
            %i{class: "fa fa-cog"}
    .group__list
      fair
  .right-side
    .header
      .group__name
        fair
      .group__members
        Members: onoro china
    .main
      onoro
      こんにちわ
    .footer

