.chat

  .chat-side
    .chat-side__header
      %h5
        onoro
        .font-awesome
          = link_to root_path, class: "font-awesome__specific" do
            %i{class: "fa fa-pencil-square-o"}
          = link_to edit_user_registration_path, class: "font-awesome__specific" do
            %i{class: "fa fa-cog"}
    .group
      .group__list
        .group__name
          fair
        .group__message
          メッセージはありません
  .chat-main
    .chat-header
      .chat-header__left
        %h2
          fair
        %p.chat-header__members
          Members: onoro china
      .chat-header__right
        = link_to "Edit", root_path, class: "chat-header__edit"
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header
            %p.chat-message__user
              onoro
            %p.chat-message__date
              2016/3/13 00:00:00
            %p.chat-message__text
              こんにちわ
    .chat-footer
      %form{class: "chat-footer__form", action: "/", method: "get"}
        %input{class: "chat-footer__input",type: "text",placeholder: "Type a message"}
        %label{class: "file"}
          %i{class: "fa fa-picture-o file__icon"}
          %input{class: "file-picture",type: "file",name: "file",style: "display:none"}
        %input{class: "chat-footer__submit",type: "submit",value: "Send"}

