html,body{
  height: 100%
}
.chat{
  min-width: 980px;
  height: 100%;
}

.chat-side{
  float: left;
  width: 300px;
  &__header{
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    letter-spacing: 2px;
  }
    h5{
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      margin-left: 20px;
      }
    .font-awesome{
      float: right;
      margin-right: 20px;
      &__specific{
        color: #fff;

        // line-height: 28px;
        font-size: 20px;
      }
    }
}

